<b>{{user}}</b> just deployed to <b>{{environment}}</b>.
Last {{commits.length}} commit(s) are:
<ul>
  {{#each commits}}<li><a href="{{{repoUrl}}}/commit/{{sha1}}">{{{message}}}</a></li>{{/each}}
</ul>
{{#if changed}}

<a href="{{{repoUrl}}}/compare/{{diff.previous}}...{{diff.current}}">Full diff since last deployment</a>
{{/if}}
