*{{user}}* just deployed to *{{environment}}*. Last {{commits.length}} commit(s) are:{{#each commits}}
* <{{{repoUrl}}}/commit/{{sha1}}|{{sha1}}> {{{message}}}{{/each}}

{{#if changed}}
<{{{repoUrl}}}/compare/{{diff.previous}}...{{diff.current}}|Full diff since last deployment>
{{/if}}
